body {
    font-family: 'Nunito Sans', sans-serif;
    color: #1c1917;
}

html {
    --light-orange: #ffedd5;
    --dark-orange: #f97316;
    --light-gray: #fafaf9;
}


.student {
    height: 800px;
    background-image: url(images/hero.jpg);
    background-position: center top;
    background-size: cover;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.navigation {
    display: flex;
    align-items: center;

}

.navigation-items {
    padding: 0 10px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.student-title {
    font-weight: 700;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
}

.student-inform {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 55px;
    max-width: 40%;
    color: #57534e;
}

.button-record {
    background-color: var(--dark-orange);
    color: white;
    font-size: 20px;
    border-radius: 9px;
    box-shadow: 3px 3px 5px #d6d3d1;
    padding: 15px 30px;
    border: none;
}

.button-record:hover {
    background-color: #ea580c;
}

.division {
    padding-top: 100px;
    padding-bottom: 50px;
}

.division-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.advantages {
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}