body {
    font-family: 'Nunito Sans', sans-serif;
    color: #1c1917;
}

html {
    --light-orange: #ffedd5;
    --dark-orange: #f97316;
    --light-gray: #fafaf9;
    scroll-behavior: smooth;
}



.student {
    height: 800px;
    background-image: url(images/hero.jpg);
    background-position: center top;
    background-size: cover;

}

.container {
    max-width: 1024px;
    width: 100%;

    margin: 0 auto;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.navigation {
    display: flex;
    align-items: center;

}

.navigation-items {
    padding: 0 10px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.student-title {
    font-weight: 700;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
}

.student-inform {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 55px;
    max-width: 40%;
    color: #57534e;
}

.button-record {
    background-color: var(--dark-orange);
    color: white;
    font-size: 20px;
    border-radius: 9px;
    box-shadow: 3px 3px 5px #d6d3d1;
    padding: 15px 30px;
    border: none;
}

.button-record:hover {
    background-color: #ea580c;
}

.button-record:active {
    background-color: #830c12;
}

.division {
    padding-top: 100px;
    padding-bottom: 50px;
}

.division-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.advantages {
    display: flex;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(242, 240, 240);
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    width: 30%;
}

.advantage-icon {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--dark-orange);
    margin-bottom: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

.advantage-title {
    margin-top: 10px;
    font-size: 20px;
}

.advantage-text {
    font-size: 15px;
    font-weight: 300px;
    color: #57534e;
    margin-top: 25px;
    line-height: 25px;
}

.our-priorities {
    margin-top: 55px;
    display: flex;

}

.our-priorities-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
}

.our-priorities-text {
    color: #44403c;
    margin-top: 25px;
    line-height: 25px;
}

.our-priorities-image {
    width: 500px;
    margin-left: 25px;
}

.division-form {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: var(--light-orange);
}

.division-subtitle {
    color: #57534e;
    text-align: center;
    margin-top: 25px;

}

.record-form {
    display: flex;
    justify-content: center;
    margin: 65px auto;
}

.record-form-input {

    font-size: 20px;
    height: 55px;
    border-radius: 9px;
    padding-left: 7px;
    margin-right: 10px;
    border: 1px solid #484441;
}

.division-feedback {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-color: var(--light-gray);

}

.feedbacks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback {
    width: 650px;
    padding: 30px 0;
    border-bottom: 2px solid #d6d3d1;
    ;
}

.feedback-name {
    font-size: 19px;
    margin-bottom: 15px;
}

.feedback-message {
    color: #44403c;
    font-weight: 300;
    line-height: 25px;
}

.memberships {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

}

.membership {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #d6d3d1;
    width: 30%;
    flex-grow: 1;

}

.membership-time {
    color: var(--dark-orange);
    margin-top: 12px;
}

.membership-price {
    font-size: 20px;
    font-weight: 650px;
    margin-top: 12px;
}

.membership-services {
    flex-grow: 1;
    margin-top: 25px;
}

.membership-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    color: #78716c;
    margin: 5px 0;

}

.check-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;

}

.button-record-litle {
    background-color: var(--light-orange);
    color: var(--dark-orange);
    font-size: 15px;
    border-radius: 9px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    width: 100%;
}

.button-record-litle:hover {
    background-color: #fed7aa;
}

.button-record-litle:active {
    background-color: #978070;
}

.footer {
    background-color: #d6d3d1;
    height: 150px;

}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #78716c;
    height: 100%;

}

.network-icon {
    font-size: 20px;
    margin: 0 5px;

}

.network-icon:hover {
    color: #ea580c;
}

.link {
    color: #44403c;
    text-decoration: none;
}

.link:hover {
    color: #ea580c;
}

@media(max-width: 600px) {
    .student {
        height: 900px;
        background-color: white;
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(images/hero.jpg);
    }

    .container {
        max-width: 600px;
    }


    .header {
        flex-wrap: wrap;
    }

    #logo-image {

        margin-left: 10px;
    }


    .phone {

        margin-right: 10px;
    }

    .student-title {
        font-size: 50px;
        margin-left: 10px;
    }

    .student-inform {
        font-size: 20px;
        margin-left: 10px;
        max-width: 35%;
    }


    .advantages {
        flex-direction: column;
        align-items: center;
    }

    .advantage {
        width: 95%;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .advantage-text {
        text-align: center;
    }

    .our-priorities {
        flex-direction: column;
        align-items: center;

    }

    .our-priorities-image {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .our-priorities-title {
        margin-left: 10px;
    }

    .our-priorities-text {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }

    .record-form {
        flex-direction: column;

    }

    .record-form-input {
        margin: 10px;
    }

    .button-record {
        margin-left: 10px;
        margin-right: 10px;
    }

    .feedback {
        max-width: 600px;
        width: 100%;
    }

    .feedback-name {
        margin-left: 10px;

    }

    .feedback-message {
        margin-left: 10px;
        margin-right: 10px;
    }

    .memberships {
        flex-direction: column;
        align-items: center;
    }

    .membership {
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        padding: 5px;
    }

    .footer-text {
        flex-direction: column;
        justify-content: space-evenly;
    }

}