body {
    font-family: 'Nunito Sans', sans-serif;
    color: black;
}


.girl {
    height: 800px;
    background-image: url(images/hero.jpg);
    background-position: center top;
    background-size: cover;
}

.in-container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.navigation {
    display: flex;
    align-items: center;

}

.navigation-items {
    padding: 0 10px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.title {
    font-weight: 700;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
}